{
    "extends": "google",

    "parserOptions": {
          "ecmaVersion": 7,
          "sourceType": "module",
          "ecmaFeatures": {
              "jsx": true,
              "modules": true
          }
      },
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": ['react'],
    "rules": {
        "no-unused-vars" : 0,
        "max-len": ["warn", 140],
        "semi": 0,
        "indent": ["error", 4]
    }
}
