.languageComponent {
    transform: rotate(-90deg);
    position: absolute;
    left: -2rem;
    top: 10%;
    background: lighten(@blue, 7%);
    padding: .8rem;
    width: 5rem;
    cursor:pointer;
} // headerComponent
